## Import libraries and loading data

In [1]:
# Import required libraries
import numpy as np
import pandas as pd
import geopandas as gpd

In [2]:
# Load the GeoJSON file as geopandas dataframe, dropping the last row (it refers to the "Total" observation)
dataframe = gpd.read_file("../../data/raw_data/geo_data_trees.geojson")[:-1]

In [3]:
# Check the structure of the dataframe
dataframe.head()

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
0,1.0,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,...,2.8,3.5,1,1.5,1.8,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160)
1,2.0,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,...,3,5,1.5,1.5,1.8,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154)
2,3.0,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,...,3.4,4.5,1.3,1.5,1.8,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167)
3,4.0,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,...,4.3,5,1.5,2.5,4.9,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378)
4,7.0,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,...,29.5,8,2.4,1.5,1.8,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230)

In [4]:
# Check the dtypes of the variables in the dataframe - most of them are not correct
dataframe.dtypes

Tree ID                                 float64
Name                                     object
DBH (cm)                                 object
Replacement Value (eur)                  object
Carbon Storage (kg)                      object
Carbon Storage (eur)                     object
Gross Carbon Sequestration (kg/yr)       object
Gross Carbon Sequestration (eur/yr)      object
Avoided Runoff (mcube/yr)                object
Avoided Runoff (eur/yr)                  object
Carbon Avoided (kg/yr)                   object
Carbon Avoided (eur/yr)                  object
Pollution Removal (g/yr)                 object
Pollution Removal (eur/yr)               object
Energy Savings (eur/yr)                  object
Total Annual Benefits (eur/yr)           object
Oxygen Production (kg/yr)                object
Height (m)                               object
Crown Height (m)                         object
Crown Width (m)                          object
Canopy Cover (m2)                        object
Leaf Area (m2)                           object
Leaf Biomass (kg)                        object
Latitude                                float64
Longitude                               float64
geometry                               geometry
dtype: object

In [5]:
# Update the dtypes of each variable in the dataframe with the correct one
dataframe = dataframe.astype({"Tree ID": int,
                              "Name": str,
                              "DBH (cm)": float,
                              "Replacement Value (eur)": float,
                              "Carbon Storage (kg)": float,
                              "Carbon Storage (eur)": float,
                              "Gross Carbon Sequestration (kg/yr)": float,
                              "Gross Carbon Sequestration (eur/yr)": float,
                              "Avoided Runoff (mcube/yr)": float,
                              "Avoided Runoff (eur/yr)": float,
                              "Carbon Avoided (kg/yr)": float,
                              "Carbon Avoided (eur/yr)": float,
                              "Pollution Removal (g/yr)": float,
                              "Pollution Removal (eur/yr)": float,
                              "Energy Savings (eur/yr)": float,
                              "Total Annual Benefits (eur/yr)": float,
                              "Oxygen Production (kg/yr)": float,
                              "Height (m)": float,
                              "Crown Height (m)": float,
                              "Crown Width (m)": float,
                              "Canopy Cover (m2)": float,
                              "Leaf Area (m2)": float,
                              "Leaf Biomass (kg)": float,
                              "Latitude": float,
                              "Longitude": float})

In [6]:
# Check that the dtypes update has worked properly
dataframe.dtypes

Tree ID                                   int32
Name                                     object
DBH (cm)                                float64
Replacement Value (eur)                 float64
Carbon Storage (kg)                     float64
Carbon Storage (eur)                    float64
Gross Carbon Sequestration (kg/yr)      float64
Gross Carbon Sequestration (eur/yr)     float64
Avoided Runoff (mcube/yr)               float64
Avoided Runoff (eur/yr)                 float64
Carbon Avoided (kg/yr)                  float64
Carbon Avoided (eur/yr)                 float64
Pollution Removal (g/yr)                float64
Pollution Removal (eur/yr)              float64
Energy Savings (eur/yr)                 float64
Total Annual Benefits (eur/yr)          float64
Oxygen Production (kg/yr)               float64
Height (m)                              float64
Crown Height (m)                        float64
Crown Width (m)                         float64
Canopy Cover (m2)                       float64
Leaf Area (m2)                          float64
Leaf Biomass (kg)                       float64
Latitude                                float64
Longitude                               float64
geometry                               geometry
dtype: object

---

## Code for first plot

In [7]:
tree_height=dataframe["Height (m)"]

In [8]:
print(np.max(tree_height))
print(tree_height.min())

60.0
0.1

In [9]:
tree_height

0        3.5
1        5.0
2        4.5
3        5.0
4        8.0
        ...
12507    2.5
12508    2.5
12509    8.0
12510    8.0
12511    2.5
Name: Height (m), Length: 12512, dtype: float64

In [10]:
tree_height.name="Height"

In [11]:
tree_height.to_csv("../../data/assign2-plot1.csv",sep=",",index=False)

In [12]:
pd.read_csv("../../data/assign2-plot1.csv")

       Height
0         3.5
1         5.0
2         4.5
3         5.0
4         8.0
...       ...
12507     2.5
12508     2.5
12509     8.0
12510     8.0
12511     2.5

[12512 rows x 1 columns]

# Code for second plot

In [13]:
tree_species = pd.read_csv("../../data/assign1-plot1.csv")["Species"][:5]

In [14]:
tree_dimensions = dataframe[["Name","Height (m)","Canopy Cover (m2)","DBH (cm)"]]

In [15]:
tree_dimensions

                         Name  Height (m)  Canopy Cover (m2)  DBH (cm)
0         Acer pseudoplatanus         3.5                1.8       8.0
1         Acer pseudoplatanus         5.0                1.8       8.0
2         Acer pseudoplatanus         4.5                1.8       9.0
3         Acer pseudoplatanus         5.0                4.9      11.0
4                   Cupressus         8.0                1.8      25.0
...                       ...         ...                ...       ...
12507            Philadelphus         2.5               21.7      28.2
12508            Philadelphus         2.5               21.7      28.2
12509  Forsythia x intermedia         8.0               21.7      28.2
12510         Aucuba japonica         8.0               21.7      28.2
12511      Osmanthus fragrans         2.5               21.7      28.2

[12512 rows x 4 columns]

In [16]:
tree_species

0          Celtis australis
1    Aesculus hippocastanum
2          Carpinus betulus
3             Tilia cordata
4      Platanus x hispanica
Name: Species, dtype: object

In [17]:
tree_dimensions_top5 = tree_dimensions[tree_dimensions["Name"].isin(["Celtis australis","Aesculus hippocastanum","Carpinus betulus","Tilia cordata","Platanus x hispanica"])]

In [18]:
tree_dimensions_top5

                   Name  Height (m)  Canopy Cover (m2)  DBH (cm)
17        Tilia cordata         4.5                7.1       8.0
18        Tilia cordata         5.0                7.1      11.0
19        Tilia cordata         5.0                7.1      11.0
20        Tilia cordata         4.0                3.1       7.0
21        Tilia cordata         6.0               28.3      18.0
...                 ...         ...                ...       ...
12320  Carpinus betulus         6.2               10.1      17.0
12321  Carpinus betulus         6.2               10.1      17.0
12322  Carpinus betulus         6.2               10.1      17.0
12343  Celtis australis         8.3               35.2      30.1
12347  Carpinus betulus         6.2               10.1      17.0

[3156 rows x 4 columns]

In [25]:
tree_dimensions_top5.columns = ["Name","Height","CanopyCover","DBH"]

In [26]:
tree_dimensions_top5.to_csv("../../data/assign2-plot2.csv",sep=",",index=False)

In [27]:
pd.read_csv("../../data/assign2-plot2.csv")

                  Name  Height  CanopyCover   DBH
0        Tilia cordata     4.5          7.1   8.0
1        Tilia cordata     5.0          7.1  11.0
2        Tilia cordata     5.0          7.1  11.0
3        Tilia cordata     4.0          3.1   7.0
4        Tilia cordata     6.0         28.3  18.0
...                ...     ...          ...   ...
3151  Carpinus betulus     6.2         10.1  17.0
3152  Carpinus betulus     6.2         10.1  17.0
3153  Carpinus betulus     6.2         10.1  17.0
3154  Celtis australis     8.3         35.2  30.1
3155  Carpinus betulus     6.2         10.1  17.0

[3156 rows x 4 columns]