In [1]:
# Import required libraries
import numpy as np
import pandas as pd
import geopandas as gpd

In [2]:
# Load the GeoJSON file as geopandas dataframe, dropping the last row (it refers to the "Total" observation)
dataframe = gpd.read_file("../../data/raw_data/geo_data_trees.geojson")[:-1]

In [3]:
# Check the structure of the dataframe
dataframe.head()

,Tree ID,Name,DBH (cm),Replacement Value (eur),Carbon Storage (kg),Carbon Storage (eur),Gross Carbon Sequestration (kg/yr),Gross Carbon Sequestration (eur/yr),Avoided Runoff (mcube/yr),Avoided Runoff (eur/yr),...,Oxygen Production (kg/yr),Height (m),Crown Height (m),Crown Width (m),Canopy Cover (m2),Leaf Area (m2),Leaf Biomass (kg),Latitude,Longitude,geometry
0,1.0,Acer pseudoplatanus,8,179.43,12,1.92,1.1,0.17,0,0.01,...,2.8,3.5,1,1.5,1.8,3.5,0.2,46.051599,11.072014,POINT (11.07201 46.05160)
1,2.0,Acer pseudoplatanus,8,179.43,12.9,2.07,1.1,0.18,0,0.01,...,3,5,1.5,1.5,1.8,4.2,0.3,46.051541,11.072108,POINT (11.07211 46.05154)
2,3.0,Acer pseudoplatanus,9,227.09,16.2,2.61,1.3,0.2,0,0.01,...,3.4,4.5,1.3,1.5,1.8,4,0.3,46.051668,11.071959,POINT (11.07196 46.05167)
3,4.0,Acer pseudoplatanus,11,482.46,25.7,4.13,1.6,0.26,0,0.02,...,4.3,5,1.5,2.5,4.9,7.1,0.5,46.063778,11.150170,POINT (11.15017 46.06378)
4,7.0,Cupressus,25,1110.29,448.2,72.02,11.1,1.78,0,0.02,...,29.5,8,2.4,1.5,1.8,6.6,1.5,46.052305,11.071550,POINT (11.07155 46.05230)

In [4]:
# Check the dtypes of the variables in the dataframe - most of them are not correct
dataframe.dtypes

Tree ID                                 float64
Name                                     object
DBH (cm)                                 object
Replacement Value (eur)                  object
Carbon Storage (kg)                      object
Carbon Storage (eur)                     object
Gross Carbon Sequestration (kg/yr)       object
Gross Carbon Sequestration (eur/yr)      object
Avoided Runoff (mcube/yr)                object
Avoided Runoff (eur/yr)                  object
Carbon Avoided (kg/yr)                   object
Carbon Avoided (eur/yr)                  object
Pollution Removal (g/yr)                 object
Pollution Removal (eur/yr)               object
Energy Savings (eur/yr)                  object
Total Annual Benefits (eur/yr)           object
Oxygen Production (kg/yr)                object
Height (m)                               object
Crown Height (m)                         object
Crown Width (m)                          object
Canopy Cover (m2)                        object
Leaf Area (m2)                           object
Leaf Biomass (kg)                        object
Latitude                                float64
Longitude                               float64
geometry                               geometry
dtype: object

In [5]:
# Update the dtypes of each variable in the dataframe with the correct one
dataframe = dataframe.astype({"Tree ID": int,
                              "Name": str,
                              "DBH (cm)": float,
                              "Replacement Value (eur)": float,
                              "Carbon Storage (kg)": float,
                              "Carbon Storage (eur)": float,
                              "Gross Carbon Sequestration (kg/yr)": float,
                              "Gross Carbon Sequestration (eur/yr)": float,
                              "Avoided Runoff (mcube/yr)": float,
                              "Avoided Runoff (eur/yr)": float,
                              "Carbon Avoided (kg/yr)": float,
                              "Carbon Avoided (eur/yr)": float,
                              "Pollution Removal (g/yr)": float,
                              "Pollution Removal (eur/yr)": float,
                              "Energy Savings (eur/yr)": float,
                              "Total Annual Benefits (eur/yr)": float,
                              "Oxygen Production (kg/yr)": float,
                              "Height (m)": float,
                              "Crown Height (m)": float,
                              "Crown Width (m)": float,
                              "Canopy Cover (m2)": float,
                              "Leaf Area (m2)": float,
                              "Leaf Biomass (kg)": float,
                              "Latitude": float,
                              "Longitude": float})

In [6]:
# Check that the dtypes update has worked properly
dataframe.dtypes

Tree ID                                   int32
Name                                     object
DBH (cm)                                float64
Replacement Value (eur)                 float64
Carbon Storage (kg)                     float64
Carbon Storage (eur)                    float64
Gross Carbon Sequestration (kg/yr)      float64
Gross Carbon Sequestration (eur/yr)     float64
Avoided Runoff (mcube/yr)               float64
Avoided Runoff (eur/yr)                 float64
Carbon Avoided (kg/yr)                  float64
Carbon Avoided (eur/yr)                 float64
Pollution Removal (g/yr)                float64
Pollution Removal (eur/yr)              float64
Energy Savings (eur/yr)                 float64
Total Annual Benefits (eur/yr)          float64
Oxygen Production (kg/yr)               float64
Height (m)                              float64
Crown Height (m)                        float64
Crown Width (m)                         float64
Canopy Cover (m2)                       float64
Leaf Area (m2)                          float64
Leaf Biomass (kg)                       float64
Latitude                                float64
Longitude                               float64
geometry                               geometry
dtype: object

---

## Code for first plot

This is the code to generate the csv file required to display the **abundance** of the top-15 tree species in Trento.
<br>It's also required to report the **average canopy size**.

In [7]:
# Count the number of occurrencies for each species and
# extract the average canopy size for each tree species,
# rounding them to the second decimal
tree_carbon = dataframe.groupby(by="Name")["Carbon Storage (kg)"] \
                            .agg(func=["sum"]) \
                            .round(decimals=2) \
                            .reset_index()

In [8]:
tree_euro = dataframe.groupby(by="Name")["Total Annual Benefits (eur/yr)"] \
                            .agg(func=["sum"]) \
                            .round(decimals=2) \
                            .reset_index()

In [9]:
tree_carbon

                     Name     sum
0                   Abies  6446.2
1              Abies alba  8406.9
2      Abies nordmanniana   509.1
3           Abies pinsapo   508.1
4                  Acacia   160.3
..                    ...     ...
219              Viburnum   570.4
220    Viburnum sieboldii   570.4
221     Wisteria sinensis   933.2
222    Zanthoxylum flavum   334.4
223  Zelkova carpinifolia    61.2

[224 rows x 2 columns]

In [10]:
tree_euro

                     Name    sum
0                   Abies  21.40
1              Abies alba  56.02
2      Abies nordmanniana   1.94
3           Abies pinsapo   3.02
4                  Acacia   4.03
..                    ...    ...
219              Viburnum   3.33
220    Viburnum sieboldii   3.27
221     Wisteria sinensis   5.55
222    Zanthoxylum flavum   2.02
223  Zelkova carpinifolia   1.01

[224 rows x 2 columns]

In [11]:
# Rename the variables
tree_carbon.rename(columns={"Name":"Species",
                             "sum":"Carbon Storage"
                            },
                   inplace=True)

In [12]:
# Sort in descending order of abundance of each tree species
# and take the top-15 respect to this feature (IF WE DECIDE TO DO IT)
tree_carbon.sort_values(by="Carbon Storage",  
                         ascending=False, 
                         inplace=True)

#tree_species = tree_species.head(15)

In [13]:
tree_euro.rename(columns={"Name":"Species",
                             "sum":"Euro Saved"
                            },
                   inplace=True)

In [14]:
tree_euro.sort_values(by="Euro Saved",  
                         ascending=False, 
                         inplace=True)

In [15]:
tree_carbon.head(20)

                               Species  Carbon Storage
150               Platanus x hispanica       1083313.4
20              Aesculus hippocastanum        438610.9
211                   Tilia x europaea        406394.2
42                      Cedrus deodara        365982.4
153                      Populus nigra        225146.8
149  Platanus x acerifolia 'Bloodgood'        201148.7
59                           Cupressus        198211.0
43                       Cedrus libani        197242.4
217                        Ulmus minor        116934.1
214                              Ulmus        108160.5
182               Robinia pseudoacacia        104008.4
146                           Platanus         86276.3
72                     Fagus sylvatica         84246.5
191                   Sophora japonica         80562.6
41                    Cedrus atlantica         76853.2
44                    Celtis australis         70736.5
140                        Pinus nigra         67589.7
207                      Tilia cordata         65967.6
37                    Carpinus betulus         62980.1
158                  Prunus cerasifera         55874.7

In [16]:
tree_euro.head(10)

                               Species  Euro Saved
150               Platanus x hispanica     2845.63
20              Aesculus hippocastanum     2113.89
44                    Celtis australis     1706.43
211                   Tilia x europaea     1697.52
42                      Cedrus deodara     1344.33
59                           Cupressus      800.07
149  Platanus x acerifolia 'Bloodgood'      760.26
182               Robinia pseudoacacia      610.01
207                      Tilia cordata      602.89
191                   Sophora japonica      565.97